
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
  margin-bottom: 0;
}

canvas {

  position: relative;
  width: 200px;
  height: 200px;
  top: 10px;
  right: 0;
  z-index: 1;
}

.btn {
  z-index: 2;
}